.ParentThera {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    font-family:Proxima Nova,Open Sans,Helvetica Neue,Arial,sans-serif
}
.TheraProfile {
    display:grid;
    grid-column: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    padding: 10px;
    border-style: solid;
}
.TheraInfo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;    
    padding:10px;
    border-style: solid;
    grid-column: 2;
}
#ProfilePic{
    height: 100px;
    grid-row-start:1;
    grid-row-end: 3;
}
#Name{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}
#PhoneNumber{
    grid-row-start: 2;
    grid-row-end: 2;
}
#Email{
    grid-row-start: 2;
    grid-row-end: 2;
}
#ViewMore{
    color: green;
    grid-row: 3;
    grid-column: span 3;
    width: 100%;
    padding: 10px;
}
@item-width:10px;
@item-height:10px;
@marginV: 4px;
@marginH: 2px;
@min-cols:2;
@max-cols:9;

#InsuranceList{
    min-width: @min-cols * @item-width;
    max-width: @max-cols * @item-width;
    list-style-type:none;
    grid-column: 1;
}
#InsuranceList li{
    margin:@marginV @marginH;
}
.loopingClass (@index-width) when (@index-width <= @item-width * @max-cols) {
    @media (min-width:@index-width) {
        .container{
            width: @index-width;
        }
    }

    .loopingClass(@index-width + @item-width + 2*@marginH);
}

.loopingClass (@item-width * @min-cols + @min-cols*@marginH*2);
#LocationText{
    text-align: center;
    grid-column: span 2;
    grid-row: 3;
}

