<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'thera_style.css' %}">

</head>

<body>
    <div class="ParentThera">
    <div class="TheraProfile">
        <img id="ProfilePic" src="{% static 'pic.jpeg' %}">
        <h1 id="Name">Jeff Balls</h1>
        <p id="PhoneNumber">860-333-3333 |  Nag@gmail.com</p>
        <p id="Email"></p>
        <input type="button" id="ViewMore" value="View More"> 
    </div>
    <div class="TheraInfo">
        <h2 id="InsuranceHead">Insurance</h2>
        <p id="InsuranceText">Click view more to view.</p>
        <h2 id="TheraBio">Bio</h2>
        <p id="TheraBioText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
        <h3 id="LocationText">Address: 68 Balls Ave, Balls, Connecticut, 06000</h3>

    </div>
</div>
</body>